<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ksoft.mynote"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/note_lunch"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ksoft.mynote.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ksoft.mynote.AddNoteActivity"
            android:label="@string/title_activity_add_note" 
            android:parentActivityName="com.ksoft.mynote.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ksoft.mynote.HomeActivity" />
        </activity>
        
        <activity
            android:name="com.ksoft.mynote.EnablePwdActivity"
            android:label="@string/title_activity_enable_pwd" 
            android:parentActivityName="com.ksoft.mynote.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ksoft.mynote.HomeActivity" />
        </activity>
        <activity
            android:name="com.ksoft.mynote.ResetPwdActivity"
            android:label="@string/title_activity_reset_pwd" 
            android:parentActivityName="com.ksoft.mynote.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ksoft.mynote.HomeActivity" />
        </activity>
        <activity
            android:name="com.ksoft.mynote.PasswordActivity"
            android:label="@string/title_activity_password" 
            android:parentActivityName="com.ksoft.mynote.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ksoft.mynote.HomeActivity" />
        </activity>
        <activity
            android:name="com.ksoft.mynote.ShowNoteActivity"
            android:label="@string/title_activity_show_note" 
            android:parentActivityName="com.ksoft.mynote.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ksoft.mynote.HomeActivity" />
        </activity>
    </application>

</manifest>
